<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="../public/res/scss/styles.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fuga ullam modi facilis aliquid sed, obcaecati deleniti aspernatur animi velit?</div>
      <div class="right">
        <form action="">
          <input type="text" placeholder="Username">
          <input type="text" placeholder="Your password">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
