<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="../public/res/scss/styles.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fuga ullam modi facilis aliquid sed, obcaecati deleniti aspernatur animi velit?</div>
      <div class="right">
        <div class="title">Login Here</div>
        <form action="">
          <div class="input_wrapper">
            <input type="text" placeholder="Username">
          </div>
          <div class="input_wrapper">
            <input type="password" placeholder="Your password">
          </div>

          <div class="button_wrapper">
            <button>Login</button>
            <div class="message">Don't have an account? <a href="/users/register">Register</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
